@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  outline: none !important;
}

.fw-100 {
  font-weight: 100;
}
.fw-200 {
  font-weight: 200;
}
.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-800 {
  font-weight: 800;
}
.fw-900 {
  font-weight: 900;
}
.text-primary{
    color: #00AE05 !important;
}
.text-faded {
  opacity: 0.6;
}
.text-light{
  color: white;
}
a {
  text-decoration: none;
}
body {
  background-image: url(../images/bg.png);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.logo{
  width:40%;
  border-radius: 15px;
  margin-top: 50px;
  mix-blend-mode: lighten;
}
.car-slider{
  width: 100%;
}
.car-slide{
  display: flex !important;
  align-items: center;
  min-height:30vw;
}
.car-slide img{
  width: 100%;
}
.slick-arrow{
  display: none !important;
}
.slick-slide{
  height: 100%;
  transform: scale(.7);
  outline: none !important;
}
.slick-slide.slick-active.slick-center.slick-current{
  transform: scale(1.5);
  transition: .5s;
}
.ws-arrow{
  width: 70px;
  cursor: pointer;
}
.ws-btn{
  cursor: pointer;
  height: 60px;
}
.ws-controls{
  margin-top: -100px;
  z-index: 10;
  position: relative;
}

@media (max-width:991px ) {
  .logo{
    width:90%;
  }
  .car-slider{
    margin: 70px 0;
  }
  .ws-controls{
    margin-top: 0;
    z-index: 10;
    position: relative;
  }
  .ws-arrow{
    width: 50px;
  }
  .ws-btn{
    height: 40px;
  }
}